@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Istok Web", sans-serif;
    background-color: #ffffff;
    color: white;
    overflow-x: hidden;
}




.img-nb-runner {
    width: 100vw; /* Ширина на весь екран */
    height: 100vh; /* Висота на весь екран */
    object-fit: cover; /* Обрізає зображення без спотворення */

    top: 0;
    left: 0;
}
